* {
	box-sizing: border-box;
	margin: 0;
}

body {
	margin: 0;
	background: #2C3E50;
	color: white;
	font-family: monospace;
	height: 100vh;

	#root {
		height: 100%;
		width: 100%;
		;
	}

	main {
		display: flex;
		align-items: center;
		height: 100%;

		.sidebar {
			position: relative;
			background: #222;
			padding: 50px;
			height: 100%;
			min-width: 350px;

			/*
			background: url('/images/textures/scroll.png');
			&::after {
				position: absolute;
				inset: 5px;
				content: '';
				border: 15px solid;
				border-image: url('/images/textures/redscroll.jpg') 30;
				pointer-events: none;
			}
			*/

			form label {
				font-weight: 800;
				display: block;

				input, select {
					margin-left: 10px;
					color: black;
				}

				border-bottom:1px solid #444;
				padding:10px;
				width:100%;
			}

			ul.dropdownList {
				display: flex;
				flex-direction: column;
				color: white;
				list-style: none;
				padding: 0;
				margin: 0;
				gap: 1px;
				width: 250px;


				li {
					flex: 1;
					display: flex;
					align-items: center;
					height: 2em;
					border: 1px solid #555;
					border-radius: 5px;
					background: #333;
					width: 100%;

					.dropdown {
						width: 100%;

						.trigger {

							h3 {

								padding-left: 10px;
								margin: 0;
							}

						}

						.box {
							height: 200px;
							display: flex;
							flex-wrap: wrap;


							.asset {
								outline: 1px solid #555;
								position: relative;
								padding-top: 50px;

								width: 100px;
							}

							img {
								position: absolute;
								top: 0;
								left: 50%;
								translate: -50%;
								width: 50px;
							}

							label {
								display: flex;
								align-items: center;
								padding: 5px;
							}

							overflow-y:scroll;
						}

						&.active {

							.trigger {
								border-bottom: 1px solid #777;
							}

						}

					}
				}
			}

		}

		.canvasHolder {
			margin-inline: auto;
			width: fit-content;
			height: fit-content;
			position: relative;
			margin-bottom: 70px;

			&::after {
				content:'';
				background:radial-gradient(circle at 50%, transparent , #00000000 300px, #0000003f 500px);
				position:absolute;
				inset:0;
			}

			/* #################   Grid Settings   ###############*/
			.grid {
				z-index: 10;
				--labelWidth: 20px;

				position: absolute;
				top: -20px;
				left: -20px;
				width: calc(100% + var(--labelWidth) *2);
				color: white;
				font-size: 12px;
				font-family: monospace;

				.xLabels {
					position: absolute;
					left: 15px;
					top: -15px;
					width: 100%;
					height: var(--labelWidth);
				}

				.yLabels {
					width: var(--labelWidth);
					height: 100%;
					position: absolute;
					left: -10px;
					top: 15px;
				}

				.labelX, .labelY {
					position: absolute;
				}

				.labelX {
					bottom: 0;
					width: var(--labelWidth);
					rotate: -45deg;
				}

				.labelY {
					text-align: right;
					width: var(--labelWidth);
				}
			}

			canvas {
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				margin: 0 auto;
				height:100%;
				width:100%;

				&:first-of-type {
					box-shadow: 1px 4px 14px #000000;
					
				}

			}
		}
	}

	.redGrid {
		color: #9900ff4d;
		position: absolute;
		z-index: 100;
		inset: 0;
		background: repeating-linear-gradient(90deg, currentColor 0px, currentColor 1px, transparent 0px, transparent 39px, currentColor 39px, currentColor 40px),
			repeating-linear-gradient(0deg, currentColor 0px, currentColor 1px, transparent 0px, transparent 39px, currentColor 39px, currentColor 40px);
	}
}

input, select {
	border-radius: 5px;
	background: #fff9ec;
	height: 2em;
	outline: 0;
	border: 2px solid;
}