* {
	box-sizing: border-box;
	margin: 0;
}

body {
	margin: 0;
	background: #2c3e50;
	color: white;
	height: 100vh;

	#root {
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-rows: 50px 1fr;
	}

	header {
		height: 100%;
		background: #333;
		padding-inline: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.logo {
			font-size: 2em;
			color: var(--p-clr);
			text-decoration: none;

			svg {
				height: 0.9em;
				margin-right: 0.2em;
				fill: currentColor;
			}

			.name {
				font-family: "CodeLight";

				.crit {
					font-family: "CodeBold";
				}
			}
		}
	}

	main {
		display: flex;
		align-items: center;
		overflow: hidden;

		> .sidebar {
			position: relative;
			background: #222;
			padding: 30px;
			height: 100%;
			width: 400px;
			overflow-y: auto;

			/*
			background: url('/images/textures/scroll.png');
			&::after {
				position: absolute;
				inset: 5px;
				content: '';
				border: 15px solid;
				border-image: url('/images/textures/redscroll.jpg') 30;
				pointer-events: none;
			}
			*/

			form {
				width: 320px;
				details,
				fieldset {
					border: unset;
					background-color: #333;
					border-radius: 3px;
					margin-bottom: 10px;

					summary,
					h3 {
						font-size: 17px;
						padding-left: 5px;
					}

					> :not(h3, summary):not(:last-child) {
						border-bottom: 1px solid #444;
					}
				}

				.radioGroup {
					display: flex;
					flex-direction: column;
					padding-left: 20px;
					label {
						font-weight: 800;
						display: flex;
						align-items: center;
						gap: 10px;
					}
				}

				> label,
				> :is(fieldset, details) > label {
					font-weight: 800;
					display: flex;
					flex-direction: column;

					input,
					select {
						width: 150px;
						margin-left: 10px;
						color: black;
					}

					input[type="range"] {
						position: relative;

						&::before {
							content: attr(value);
							position: absolute;
							right: -10px;
							top: 50%;
							translate: 100% -50%;
							width: 5ch;
							height: 1em;
							color: white;
							border: 1px solid #444;
							border-radius: 5px;
							text-align: right;
							padding: 2px 5px;
						}

						&[displayedValue]::before {
							content: attr(displayedvalue);
						}
						&::after {
							content: attr(unit);
							position: absolute;
							right: -20px;
							top: 50%;
							translate: calc(100% + 5ch) -50%;
							width: fit-content;
							height: 1em;
							color: #ccc;
							padding: 2px 5px;
						}

						&:disabled::before,&:disabled::after {
							color:#999;
						}
					}

					padding: 10px;
					width: 100%;
				}

				small {
					color: #999;
				}
			}

			ul.dropdownList {
				display: flex;
				flex-direction: column;
				color: white;
				list-style: none;
				padding: 0;
				margin: 0;
				gap: 1px;
				width: 250px;

				li {
					flex: 1;
					display: flex;
					align-items: center;
					height: 2em;
					border: 1px solid #555;
					border-radius: 5px;
					background: #333;
					width: 100%;

					.dropdown {
						width: 100%;

						.trigger {
							h3 {
								padding-left: 10px;
								margin: 0;
							}
						}

						.box {
							height: 200px;
							display: flex;
							flex-wrap: wrap;

							.asset {
								outline: 1px solid #555;
								position: relative;
								padding-top: 50px;

								width: 100px;
							}

							img {
								position: absolute;
								top: 0;
								left: 50%;
								translate: -50%;
								width: 50px;
							}

							label {
								display: flex;
								align-items: center;
								padding: 5px;
							}

							overflow-y: scroll;
						}

						&.active {
							.trigger {
								border-bottom: 1px solid #777;
							}
						}
					}
				}
			}
		}

		> .canvasHolder {
			margin-inline: auto;
			width: fit-content;
			height: fit-content;
			position: relative;

			&::after {
				content: "";
				background: radial-gradient(circle at 50%, transparent, #00000000 300px, #0000003f 500px);
				position: absolute;
				inset: 0;
			}

			/* #################   Grid Settings   ###############*/
			.grid {
				z-index: 10;
				--labelWidth: 20px;

				position: absolute;
				top: -20px;
				left: -20px;
				width: calc(100% + var(--labelWidth) * 2);
				color: white;
				font-size: 12px;
				font-family: monospace;

				.xLabels {
					position: absolute;
					left: 15px;
					top: -15px;
					width: 100%;
					height: var(--labelWidth);
				}

				.yLabels {
					width: var(--labelWidth);
					height: 100%;
					position: absolute;
					left: -10px;
					top: 15px;
				}

				.labelX,
				.labelY {
					position: absolute;
				}

				.labelX {
					bottom: 0;
					width: var(--labelWidth);
					rotate: -45deg;
				}

				.labelY {
					text-align: right;
					width: var(--labelWidth);
				}
			}

			canvas {
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				margin: 0 auto;
				height: 100%;
				width: 100%;

				&:first-of-type {
					box-shadow: 1px 4px 14px #000000;
				}
			}
		}

		> .error {
			position:absolute;
			top:0;
			left:50%;
			translate:-50% 0;
			padding:4px 10px;
			border:2px solid #ccc;
			border-top:none;
			background:rgb(206, 79, 79);
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}
	}
}

input,
select {
	border-radius: 5px;
	background: #fff9ec;
	height: 2em;
	outline: 0;
	border: 2px solid;
}
